# Swap / temporary files for vi and emacs.
*.swp
*~
*#
.#*
\#*


# LaTeX intermediate files.
*.aux
*.bbl
*.idx
*.ind
*.lof
*.toc


# Binary files generated during build.
*.o
*.d
*.bin
*.map
*.out
*.hex
